.bg-darker {
  background-color: #1b1f22;
}

body {
  overflow-x: hidden;
}

.dark-placeholder::placeholder {
  color: #adb5bd;
  opacity: 1;
}

.btn-outline-brand {
  color: #6351ce;
  border-color: #6351ce;
}

.btn-outline-brand:hover {
  background-color: #6351ce;
  color: #fff;
}
